<div class="about-wrapper">
  <div class="w-container about">
    <div class="about-project">
      <h3 class="about-heading">THE&nbsp;STORY</h3>
      <p>
        Memoreez is a quick and easy way for family, friends and acquaintances to leave you pictures, contact information and a personal message all in one place at your event, so you can view them later and share with anyone. Think of it as your digital guestbook that can be used at weddings, holiday parties, company events or anywhere you want. Creating a Memoreez event is as easy as entering your name, event type, and email address. We’ll do all the heavy lifting and set it up.
      </p>
    </div>
  </div>
</div>
<div class="fuel-wrapper">
  <div class="w-container about">
    <div class="about-project">
      <h3 class="about-heading">WHAT&nbsp;FUELS MEMOREEZ</h3>
      <p>Here are some of the technologies and tools we used to build Memoreez:</p>
    </div>
    <div class="w-row fuel-row">
      <div class="w-col w-col-4 fuel-column"><img src="./src/img/Divshot_Logo.png" alt="divshot logo">
      </div>
      <div class="w-col w-col-4 fuel-column"><img src="./src/img/AngularJS_Logo.png" alt="angular js logo">
      </div>
      <div class="w-col w-col-4 fuel-column"><img class="github" src="./src/img/GitHub_Logo.png" alt="github logo">
      </div>
    </div>
    <br><br>
    <div class="w-row fuel-row">
      <div class="w-col w-col-4 fuel-column"><img src="./src/img/Firebase_Logo.png" alt="firebase logo">
      </div>
      <div class="w-col w-col-4 fuel-column"><img src="./src/img/Webflow_Logo.png" alt="webflow logo">
      </div>
      <div class="w-col w-col-4 fuel-column"><img class="github" src="./src/img/Starbucks_Logo.png" alt="starbucks logo">
      </div>
    </div>
    <br><br>
    <div class="w-row fuel-row">
      <div class="w-col w-col-4 fuel-column"><img src="./src/img/Zapier_Logo.png" alt="firebase logo">
      </div>
      <div class="w-col w-col-4 fuel-column"><img src="" alt="">
      </div>
      <div class="w-col w-col-4 fuel-column"><img class="github" src="" alt="">
      </div>
    </div>
  </div>
</div>
<div class="future-wrapper">
  <div class="w-container future">
    <div class="future-container">
      <h3 class="about-heading">THE&nbsp;FUTURE</h3>
      <p>
        We worked hard on to create a feature set that would ensure you'd never forget those special moments, but with the time restraints we weren't able to add video, and that would be our next step.

        We have a list of functionality we'd like to add including event scheduling, reception mode, and better sharing all which would bring Memoreez to the next level.
      </p>
    </div>
  </div>
</div>
