<div ng-controller="EventsCtrl">
  <!--- Testing  -->

  <!-- <li  ng-repeat="item in list"  ng-click="openSpecific(this)">
    <span ng-click="goNext('/event/' + this.item.$id)">{{ item.eventName|json }}</span>

  </li> -->

  <!-- presentation -->

  <div class="section timeline-wrapper">
    <div class="w-clearfix timeline-header">
      <div class="event-title">
        <h2 class="events">ALL&nbsp;EVENTS</h2>
      </div>
    </div>
  </div>

  <div class="timeline">
    <div class="w-row memory-row" ng-repeat="item in list">
      <div class="w-col w-col-2 timeline-time">
        <div class="memory-time">
          <div class="event-date">24</div>
        </div>
        <div class="events-date">January</div>
      </div>
      <div class="w-col w-col-10 timeline-events events-timeline" ng-click="goNext('/event/' + this.item.$id)">
        <div class="w-clearfix events-list-item">
          <h3 class="events-title">{{ item.eventName|json }}</h3>
          <div class="events-creator">{{ item.orgName|json }}</div><img class="events-list-link" src="src/img/link.svg" alt="">
        </div>
      </div>
    </div>
  </div>


</div>
