<div class="section hero" ng-controller='IndexCtrl'>
  	<div class="w-container" data-ix="hero-text">
      <h1 class="hero-heading" data-ix="hero-text">Create memories that last forever</h1>
      <div class="w-form form-wrapper">
        <form class="w-clearfix form-container" id="email-form" name="email-form" data-name="Email Form" data-ix="hero-text">
          <div class="form-text" data-ix="hero-text">Start with your event name</div>
          <input class="w-input input" ng-model="eventName" id="Event" type="text" placeholder="Party" name="Event" value="{{eventName}}" data-name="Event" required="required">
          <input class="w-button submit-button" ng-click="createEvent()" value="Create Event" data-wait="Please wait...">
        </form>
        <div class="w-form-done success">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail error">
          <p class="error-text">Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div><img src="./src/img/hero-image.png" width="1840" alt="" data-ix="hero-image">
    </div>
  </div>
  <div class="section grey" id="features">
    <div class="w-container">
      <h2 class="section-title">It's as easy as three steps to keep your memories.&nbsp;</h2>
      <p class="section-subtitle">Don’t miss out on your final, first, or last memories.
        <br>Use Memoreez to capture them, and then never forget.</p>
      <div class="w-row">
        <div class="w-col w-col-4" data-ix="plop-1">
          <div class="circle create"></div>
          <h3 class="steps">Create an Event</h3>
          <p>Creating an event is as simple as filling out the form above, and clicking submit. You'll be redirected to your event page, and will receive an email with a link to your event.</p>
        </div>
        <div class="w-col w-col-4" data-ix="plop-2">
          <div class="circle invite"></div>
          <h3 class="steps">Invite Guests</h3>
          <p>Next send your event link to your guests, then they'll be able to check in to your event, and share a memory with you.</p>
        </div>
        <div class="w-col w-col-4" data-ix="plop-3">
          <div class="circle enjoy"></div>
          <h3 class="steps">Enjoy your memories</h3>
          <p>Memoreez displays all guests that have checked in as a timeline allowing you to explore their messages, and the memories they have left you. </p>
        </div>
      </div>
    </div>
  </div>
  <footer class="section">
    <div class="w-container">
      <h3 class="staticshowdown-reference">Created as part of the <a href="http://www.staticshowdown.com/" class="ss2015" target="blank">2015 Static Showdown Hackathon</a></h3>
    </div>
  </footer>
