<div ng-controller="IndexCtrl as view">
    <header class="nav-bar subpages">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-4 w-clearfix brand-column"><img class="logo" src=".src/img/white-logo.svg" width="118" alt="logo">
          </div>
          <nav class="w-col w-col-8 nav-column">
            <a class="nav-link" href="#/home">Home</a>
            <a class="nav-link" href="#/eventList">Events</a>
            <a class="nav-link" href="#/about">About</a>
            <a class="nav-link sign-up" href="#/create" target="_self">Create event</a>
          </nav>
        </div>
      </div>
    </header>
</div>
