<div ng-controller="IndexCtrl as view" ng-model="showHome" >
    <header id="navbar1"  class="nav-bar subpages">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-4 w-clearfix brand-column"><a href="#/home" style="border: 0;"><img class="logo" src="./src/img/white-logo.svg" width="118" alt="logo"></a>
          </div>
          <nav class="w-col w-col-8 nav-column">
            <a class="nav-link" href="#/home">Home</a>
            <a class="nav-link" href="#/eventList">Events</a>
            <a class="nav-link" href="#/about">About</a>
            <a class="nav-link sign-up" href="#/create" target="_self">Create event</a>
          </nav>
        </div>
      </div>
    </header>
</div>
