<div ng-controller="MemoriesCtrl">
  <div class="w-row memory-row" data-ix="memory-row-fade-in" ng-repeat="h in hours">
    <div class="w-col w-col-2 timeline-time">
      <div class="now">{{h.sHour | date : "h:mm"}}</div>
      <div class="memory-time"><img class="check-in-icon" src="src/img/checkmark.svg" width="20" height="30" alt="54c3e3c31607796117f6c3f3_checkmark.svg">
      </div>
    </div>
    <div class="w-col w-col-10 timeline-events">
  <!--  -->

      <ul class="w-clearfix memory-list">
        <li class="memory-container" ng-repeat="things in h.memories">
          <div class="memory-timestamp">{{things.timestamp| date : 'shortTime' }}</div>
          <img class="memory-media hastip" id="{{things.$id}}" onmouseenter="tooltip(this)" height="100px" width="100px" ng-src="{{things.blobFile}}" alt="image-placeholder.svg" title="{{things.message}}">
          <div class="memory-guest">{{resolveGuest(things.guestId)}} </div>
        </li>
      </ul>
  <!--  -->
    </div>
  </div>

</div>