
<div class="check-in" ng-controller="SpecificEventCtrl">

  <div class="section timeline-wrapper">

    <!-- timeline header -->
    <div class="timeline-header">
      <div class="w-row header-columns">
        <div class="w-col w-col-6 memory-header-column">
          <div class="event-title">
            <h2 class="event-name">{{eventInfo.eventName}}</h2>
            <div class="check-in-header-wrap"><img class="checkmark-icon" src="src/img/bluecheckmark.svg" alt="54c3e6c72d5eaa62179003d3_bluecheckmark.svg">
              <div class="guests-checked-in">{{guestInfo.length}} Guests Checked In</div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 w-clearfix share-column">
          <div class="w-clearfix link-icon-wrap">
            <img class="link-icon" src="src/img/link.svg" alt="54c3e8a22d5eaa6217900413_link.svg">
            <a ng-href="index.html#/event/{{thisEvent}}">
              <div class="share-header-text">Link</div>
            </a>
          </div>
          <div class="w-clearfix share-icon-wrap"><img class="link-icon" src="src/img/share.svg" alt="54c3e9542d5eaa6217900448_share.svg">
            <div class="share-header-text">Share</div>
          </div>
        </div>
      </div>
    </div>

  </div>



    <div class="w-container">
      <div class="w-form">
        <form class="guest-form-wrapper" id="register-form" name="register-form" data-name="Register Form">
          <h1 class="check-in-header">CHECK&nbsp;IN</h1>
          <!-- <div class="me-card">Have Me Card?</div> -->
          <div class="form-group">
            <input class="w-input guest-form-input" ng-model="name" id="name-2" type="text" name="name-2" data-name="Name 2" required="required" autofocus="autofocus" style="box-shadow: none;">
            <label class="guest-form-label" for="name">NAME (required)</label>
          </div>
          <div class="form-group">
            <input class="w-input guest-form-input" ng-model="email" id="Email" type="text" name="Email" data-name="Email" required="required" style="box-shadow: none;">
            <label class="guest-form-label" for="email">EMAIL(required)</label>
          </div>
          <div class="form-group">
            <input class="w-input guest-form-input" ng-model="phone" id="Phone" type="text" name="Phone" data-name="Phone">
            <label class="guest-form-label" for="email">PHONE</label>
          </div>
          <div class="form-group">
            <input class="w-input guest-form-input" id="Phone-3" ng-model="address" type="text" name="Phone-3" data-name="Phone 3">
            <label class="guest-form-label" for="address">ADDRESS</label>
          </div>

          <div class="w-clearfix form-group">
            <input class="w-button submit" type="submit" value="SUBMIT" data-wait="Please wait..." ng-click="checkIn()">
            <input class="w-button cancel" type="submit" value="CANCEL" data-wait="Please wait..." ng-click="cancelCheckIn()">
          </div>
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
  </div>
