<div class="check-in" ng-controller="SpecificEventCtrl">
  <div class="camera-container" style="background-color: #fafafa; width: 100%; height: 300px; text-align: center;">
    <div class="camera" style="width: 50%; height: 100%; margin: 0 auto;">
      
              
      <!-- if no getUserMedia -->
      <div ng-show="isActive" ng-init="isActive=hasMedia()">
        <script>
          var videoObj = { "video": true };
          
          function takepic() {
            if (myStream) {
              context.drawImage(video, 250, 250);
              // "image/webp" works in Chrome.
              // Other browsers will fall back to image/png.
              //document.querySelector('img').src = canvas.toDataURL('image/webp');
              angular.element(document.getElementById('theFile')).scope().uploadPic(canvas.toDataURL('image/webp'))
            }
          }
            
          var errBack = function(e) {
            console.log('Reeeejected!', e);
          };
          
          // Put video listeners into place
          if(navigator.getUserMedia) { // Standard
                  navigator.getUserMedia(videoObj, function(stream) {
                          video.src = stream;
                          video.play();
                          myStream = stream;
                  }, errBack);
          } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
                  navigator.webkitGetUserMedia(videoObj, function(stream){
                          video.src = window.URL.createObjectURL(stream);
                          video.play();
                          myStream = stream;
                  }, errBack);
          }
          else if(navigator.mozGetUserMedia) { // Firefox-prefixed
                  navigator.mozGetUserMedia(videoObj, function(stream){
                          video.src = window.URL.createObjectURL(stream);
                          video.play();
                          myStream = stream;
                  }, errBack);
          };
        </script>
        
        <video id="video" width="" height="250" autoplay></video>
        <canvas id="canvas" width="" height="250"></canvas>
        <script>
          var video =   document.getElementById("video"),  
                        canvas = document.getElementById("canvas"),
                        context = canvas.getContext("2d")
          var myStream = null; 
         </script>
      </div> <!-- /ng-show-->
    </div> <!-- /camera -->
  </div> <!-- /camera-container -->
  <div class="w-container">
    <div class="w-form">
      <form class="guest-form-wrapper" id="picture-form" name="picture-form" data-name="Picture Form">
        <div class="w-clearfix form-group">
          <img id="myimg" src="">
          <!-- change accept to video to take video -->
          <input class="w-button picture" id="theFile" type="file" accept="image/*" file-model="myFile" onchange="angular.element(this).scope().uploadFile(this)">
          <button class="w-button picture" type="submit" value="Take Picture" ng-click="takepic()">Take Picture</button>
        </div>
      </form>
    </div>
  </div>
  <div class="w-container">
    <div class="w-form">
      <form class="guest-form-wrapper" id="message-form" name="message-form" data-name="Message Form">
        <div class="form-group">
          <input class="w-input guest-form-input" ng-model="msg" id="Message" type="text" name="Message" data-name="Message">
          <label class="guest-form-label" for="name-2">YOUR MESSAGE</label>
        </div>
        <div class="w-clearfix form-group">
          <input class="w-button submit" type="submit" value="SUBMIT" data-wait="Please wait..." ng-click="share()" >
          <input class="w-button cancel" type="submit" value="CANCEL" data-wait="Please wait..." ng-click="shareCancel()" >
        </div>
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form :(</p>
      </div>
    </div>
  </div>
</div>