<div class="check-in" ng-controller="SpecificEventCtrl">

  <div class="section timeline-wrapper">

    <!-- timeline header -->
    <div class="timeline-header">
      <div class="w-row header-columns">
        <div class="w-col w-col-6 memory-header-column">
          <div class="event-title">
            <h2 class="event-name">{{eventInfo.eventName}}</h2>
            <div class="check-in-header-wrap"><img class="checkmark-icon" src="src/img/bluecheckmark.svg" alt="54c3e6c72d5eaa62179003d3_bluecheckmark.svg">
              <div class="guests-checked-in">{{guestInfo.length}} Guests Checked In</div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 w-clearfix share-column">
          <div class="w-clearfix link-icon-wrap">
            <img class="link-icon" src="src/img/link.svg" alt="54c3e8a22d5eaa6217900413_link.svg">
            <a ng-href="index.html#/event/{{thisEvent}}">
              <div class="share-header-text">Link</div>
            </a>
          </div>
          <div class="w-clearfix share-icon-wrap"><img class="link-icon" src="src/img/share.svg" alt="54c3e9542d5eaa6217900448_share.svg">
            <div class="share-header-text">Share</div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="camera-container" style="background-color: transparent; width: 100%; height: 300px; text-align: center;">
    <h1>Take a picture, or upload an image below.</h1>

    <div class="camera" style="width: 50%; height: 100%; margin: 0 auto;">



      <!-- if no getUserMedia -->
      <div ng-show="isActive" ng-init="isActive=hasMedia()">
        <script>
          var videoObj = { "video": true };

          function takepic() {
            if (myStream) {
              context.drawImage(video, 0, 0, 250, 250);
              // "image/webp" works in Chrome.
              // Other browsers will fall back to image/png.
              //document.querySelector('img').src = canvas.toDataURL('image/webp');
              angular.element(document.getElementById('theFile')).scope().uploadPic(canvas.toDataURL('image/webp'))
            }
          }

          var errBack = function(e) {
            console.log('Reeeejected!', e);
          };

          // Put video listeners into place
          if(navigator.getUserMedia) { // Standard
                  navigator.getUserMedia(videoObj, function(stream) {
                          video.src = stream;
                          video.play();
                          myStream = stream;
                  }, errBack);
          } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
                  navigator.webkitGetUserMedia(videoObj, function(stream){
                          video.src = window.URL.createObjectURL(stream);
                          video.play();
                          myStream = stream;
                  }, errBack);
          }
          else if(navigator.mozGetUserMedia) { // Firefox-prefixed
                  navigator.mozGetUserMedia(videoObj, function(stream){
                          video.src = window.URL.createObjectURL(stream);
                          video.play();
                          myStream = stream;
                  }, errBack);
          };
        </script>

        <video id="video" width="" height="250" autoplay></video>
        <canvas id="canvas" width="334" height="250"></canvas>
        <script>
          var video =   document.getElementById("video"),
                        canvas = document.getElementById("canvas"),
                        context = canvas.getContext("2d")
          var myStream = null;
         </script>
      </div> <!-- /ng-show-->
    </div> <!-- /camera -->
  </div> <!-- /camera-container -->
  <div class="w-container">
    <div class="w-form">
      <form class="guest-form-wrapper" id="picture-form" name="picture-form" data-name="Picture Form" style="margin-bottom: 50px;">
        <div class="w-clearfix form-group">
          <div style="text-align: center;"><img id="myimg" src=""></div>
          <p>(Image capture only supported in Firefox, and Chrome. Upload an image if using a different browser. Access the camera, or local libary on iPhone via upload button)</p>
          <button class="w-button cancel" type="submit" value="Take Picture" ng-click="takepic()" style="width: 100%; display: block; margin-left: 0;">Take Picture</button>
          <input class="w-button cancel" id="theFile" type="file" accept="image/*" file-model="myFile" onchange="angular.element(this).scope().uploadFile(this)" style="width: 100%; display: block; margin-left: 0;">

        </div>
      </form>
    </div>
  </div>
  <div class="w-container">
    <div class="w-form">
      <form class="guest-form-wrapper" id="message-form" name="message-form" data-name="Message Form">
        <div class="form-group">
          <input class="w-input guest-form-input" ng-model="msg" id="Message" type="text" name="Message" data-name="Message">
          <label class="guest-form-label" for="name-2">YOUR MESSAGE</label>
        </div>
        <div class="w-clearfix form-group">
          <input class="w-button submit" type="submit" value="SUBMIT" data-wait="Please wait..." ng-click="share()" >
          <input class="w-button cancel" type="submit" value="CANCEL" data-wait="Please wait..." ng-click="shareCancel()" >
        </div>
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form :(</p>
      </div>
    </div>
  </div>
</div>
