<div ng-controller="SpecificEventCtrl">

<!-- presentation -->

<div class="section timeline-wrapper">

  <!-- timeline header -->
  <div class="timeline-header">
    <div class="w-row header-columns">
      <div class="w-col w-col-6 memory-header-column">
        <div class="event-title">
          <h2 class="event-name">{{eventInfo.eventName}}</h2>
          <div class="check-in-header-wrap"><img class="checkmark-icon" src="src/img/bluecheckmark.svg" alt="54c3e6c72d5eaa62179003d3_bluecheckmark.svg">
            <div class="guests-checked-in">{{guestInfo.length}} Guests Checked In</div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-6 w-clearfix share-column">
        <div class="w-clearfix link-icon-wrap"><img class="link-icon" src="src/img/link.svg" alt="54c3e8a22d5eaa6217900413_link.svg">
          <div class="share-header-text"><a ng-href="index.html#/event/{{thisEvent}}">Link</a></div>
        </div>
        <div class="w-clearfix share-icon-wrap"><img class="link-icon" src="src/img/share.svg" alt="54c3e9542d5eaa6217900448_share.svg">
          <div class="share-header-text">Share</div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="timeline">
  <div class="w-row memory-row">
    <div class="w-col w-col-2 timeline-time current-time">
      <div class="now">NOW</div>
      <div class="memory-time"><img class="check-in-icon" src="src/img/checkmark.svg" width="20" height="30" alt="54c3e3c31607796117f6c3f3_checkmark.svg">
      </div>
    </div>
    <div class="w-col w-col-10 timeline-events"><a class="button create-memory" href="#/register/{{thisEvent}}">Check In</a>
    </div>
  </div>
  <div class="w-row memory-row" data-ix="memory-row-fade-in">
    <div class="w-col w-col-2 timeline-time">
      <div class="now">12:00</div>
      <div class="memory-time"><img class="check-in-icon" src="src/img/checkmark.svg" width="20" height="30" alt="54c3e3c31607796117f6c3f3_checkmark.svg">
      </div>
    </div>
    <div class="w-col w-col-10 timeline-events">
      <ul class="w-clearfix memory-list">
        <li class="memory-container">
          <div class="memory-timestamp">12:30 PM</div>
          <img class="memory-media" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="image-placeholder.svg">
          <div class="memory-guest">Jerry Springer</div>
        </li>
      </ul>
    </div>
  </div>


  <!-- <div class="w-row memory-row" data-ix="memory-row-fade-in">
    <div class="w-col w-col-2 timeline-time">
      <div class="now">11:00</div>
      <div class="memory-time"><img class="check-in-icon" src="src/img/checkmark.svg" width="20" height="30" alt="54c3e3c31607796117f6c3f3_checkmark.svg">
      </div>
    </div>
    <div class="w-col w-col-10 timeline-events"> -->

      <my-memories info=this.thisEvent>

      </my-memories>
    <!-- </div>
  </div> -->

<div class="w-clearfix:after">
  &nbsp;
</div>
