<div ng-controller="SpecificEventCtrl">

<!-- presentation -->

<div class="section timeline-wrapper">

  <!-- timeline header -->
  <div class="timeline-header">
    <div class="w-row header-columns">
      <div class="w-col w-col-6 memory-header-column">
        <div class="event-title">
          <h2 class="event-name">{{eventInfo.eventName}}</h2>
          <div class="check-in-header-wrap"><img class="checkmark-icon" src="src/img/bluecheckmark.svg" alt="54c3e6c72d5eaa62179003d3_bluecheckmark.svg">
            <div class="guests-checked-in">{{guestInfo.length}} Guests Checked In</div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-6 w-clearfix share-column">
        <div class="w-clearfix link-icon-wrap">
          <img class="link-icon" src="src/img/link.svg" alt="54c3e8a22d5eaa6217900413_link.svg">
          <a ng-href="index.html#/event/{{thisEvent}}">
            <div class="share-header-text">Link</div>
          </a>
        </div>
        <div class="w-clearfix share-icon-wrap"><img class="link-icon" src="src/img/share.svg" alt="54c3e9542d5eaa6217900448_share.svg">
          <a target="_blank" href="http://twitter.com/share?text=Check out my memoreez"><div class="share-header-text">Share</div></a>
          
        </div>
      </div>
    </div>
  </div>

</div>

<div class="timeline">
  <div class="w-row memory-row">
    <div class="w-col w-col-2 timeline-time current-time">
      <div class="now">NOW</div>
      <div class="memory-time"><img class="check-in-icon" src="src/img/checkmark.svg" width="20" height="30" alt="54c3e3c31607796117f6c3f3_checkmark.svg">
      </div>
    </div>
    <div class="w-col w-col-10 timeline-events"><a class="button create-memory" href="#/register/{{thisEvent}}">Check In</a>
    </div>
  </div>


  <my-memories info=this.thisEvent></my-memories>


<div class="w-clearfix:after">
  &nbsp;
</div>
